<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/global.css">
	<link rel="stylesheet" href="/styles/set-index.css">
	<title>MOW / editing "<%- setName %>"</title>
</head>
<body>
	<header>
		<h2>MOW / <span class="bold"><%- setName %></span></h2>
		<nav>
			<form action="/" method="GET">
				<button type="submit">< Go back</button>
			</form>
			<form action="/logout?_method=DELETE" method="POST">
				<button type="submit">Log out</button>
			</form>
		</nav>
	</header>
	<main>
		<div>
			<h2 id="main-heading">Editing learning set "<%- setName %>".</h2>
			<div id="question-container">
	
			</div>
		</div>
		<form action="/addquestion/<%=setId%>" method="POST" id="add-item-form">
			<div>
				<label for="question">Question:</label>
				<input type="text" name="question" required>
			</div>
			<div>
				<label for="answer">Answer:</label>
				<input type="text" name="answer" required>
			</div>
			<div>
				<button type="submit">Add question</button>
			</div>
		</form>
	</main>
	<footer>

	</footer>
</body>
<script>
	let jsonString = '<%- questions %>';
	if (jsonString.length > 2) {
		let questions = JSON.parse(jsonString);
		let question = 0;
		for (const i of questions) {
			const questionDiv = document.createElement('form');
			questionDiv.setAttribute('action', '/deletequestion/<%=setId%>/' + question);
			questionDiv.setAttribute('method', 'POST');
			questionDiv.setAttribute('class', 'question');
			questionDiv.innerHTML = (
				'<div><h4>' + i.question + '</h4></div><div><p>' + i.answer + '</p></div>' +
				'<button type="submit">Delete</button></div>'
			);
			document.querySelector('#question-container').appendChild(questionDiv);
			question++;
		}
	}
	else {
		document.getElementById('main-heading').innerText = 'It seems there aren\'t any questions and answers in'
			+ ' set "<%= setName %>". Start by adding some.';
	}
</script>
</html>
